*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-left{
    width: 494px;
    height: 350px;
    background-image: url(./img/imagess.png);
    background-size: 494px 350px;
}
.main{
    display: flex;
    margin-top: 50px;
    width: 1195px;
    height: 450px;
    justify-content: center;
    align-items: center;
    background-color: #F9D370;
    gap: 130px;
}
.main-right{
    width: 380px;
    height: 159px;
    margin-top: -100px;
}
.main-text{
    font-weight: 700;
    font-size: 22px;
}
.main-title{
    font-weight: 700;
    width: 400px;
    font-size: 37px;
    color: #A86A3D;
    text-align: center;
    margin-top: 30px;
}
.main-btn{
    width: 124px;
    height: 50px;
    background-color: #477F7F;
    border:2px solid white;
    margin-top: 50px;
    color: #fff;
    box-shadow: 0px 4px 10px rgb(89, 89, 89);
}
.slider{
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.sliders{
    display: flex;
    gap: 5px;
    margin-top: -50px;
    margin-left: 550px;
    margin-bottom: 20px;
}
.main-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: none;
    top: 0;left: 0;
    background-color: rgba(0, 0, 0, 0.348);
    justify-content: center;
    align-items: center;
}
.modal-container{
    width: 700px;
    height: 400px;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    gap: 20px;
}
.main-active{
    display: flex;
}
@media(max-width: 550px){
    .main-left{
        width: 220px;
        height: 150px;
        background-image: url(./img/imagess.png);
        background-size: 240px 170px;
        background-position:center;
    }
    .main-modal{
        width: 100%;
        height: 100vh;
        position: fixed;
        display: none;
        top: 0;left: 0;
        background-color: rgba(0, 0, 0, 0.348);
        justify-content: center;
        align-items: center;
    }
    .modal-container{
        width: 300px;
        height: 300px;
        background-color: #fff;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 50px;
        overflow-y: scroll;
        gap: 20px;
    }
    .main-active{
        display: flex;
    }
    .main{
        display: flex;
        margin-top: 50px;
        width: 390px;
        height: 300px;
        justify-content: center;
        align-items: center;
        background-color: #F9D370;
        gap: 0px;
    }
    .main-right{
        width: 170px;
        height: 159px;
        margin-top: 0px;
    }
    .main-text{
        font-weight: 500;
        font-size: 14px;
    }
    .main-title{
        font-weight: 700;
        font-size: 20px;
        color: #A86A3D;
        text-align: left;
        margin-top: 20px;
        width: 145px;
    }
    .main-btn{
        width: 124px;
        height: 50px;
        background-color: transparent;
        border:2px solid rgb(0, 0, 0);
        margin-top: 30px;
        box-shadow: 0px 0px 0px;
        color: black;
    }
    .slider{
        background-color: rgb(255, 255, 255);
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    .sliders{
        display: none;
        gap: 5px;
        margin-top: -50px;
        margin-left: 550px;
        margin-bottom: 20px;
    }
}

